<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.halcyon.squareprogressbar"
    android:versionCode="7"
    android:versionName="1.5.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
    </application>

</manifest>